* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rightCard {
  /* color: red; */
  /* border: 1px solid rgb(77, 209, 21); */
  height: 560px;
  width: 50%;
}
.cointainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cointainer .backgroundDiv {
  width: 304px;
  height: 552px;
  position: relative;
}
.cointainer .backgroundDiv img {
  width: 100%;
}

.cointainer .sales-component {
  width: 247px;
  color: #161a34;
}
.sales-component p {
  font-size: 24px;
  font-weight: bold;
  line-height: 28.8px;
  letter-spacing: -1px;
  text-align: left;
  align-items: flex-end;
}
.cta-button {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  color: #161a34;
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.cta-button .cta-text {
  color: #161a34;
  position: relative;
}
.cta-button .cta-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #161a34;
}
.cta-button .arrow {
  width: 32px;
  height: 32px;
  margin-left: 18px;
  background-color: #ff6a1b;
  color: white;
  padding: 0px 6px;
  border-radius: 24px;
}

/* for custom button design start from here  */
.shoes {
  width: 454.61px;
  height: 438.5px;
  /* border: 1px solid black; */
  position: absolute;
  top: 43.83px;
  right: -32px;
}
.shoes img {
  width: 100%;
}

.theCollest {
  position: absolute;
  width: 181px;
  height: 54px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  top: 34px;
  left: 210px;
  background-color: #ffffff;
  box-shadow: 20px 40px 80px 0px #2d33511f;
  border-radius: 130px;
}
.theCollest > .headingforRounded {
  /* width: 70%; */
  margin-left: 9px;
  font-size: 14px;
  color: #161a34;
  font-weight: 600;
  line-height: 15.4px;
  text-align: left;
  display: flex;
}
.theCollest2 {
  position: absolute;
  width: 185px;
  height: 54px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  top: 382px;
  left: 245px;
  background-color: #ffffff;
  box-shadow: 20px 40px 80px 0px #2d33511f;
  border-radius: 130px;
}
.theCollest2 > .headingforRounded2 {
  /* width: 70%; */
  margin-left: 9px;
  font-size: 14px;
  color: #161a34;
  font-weight: 600;
  line-height: 15.4px;
  text-align: left;
  display: flex;
}
.theCollest3 {
  position: absolute;
  width: 168px;
  height: 54px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  top: 472px;
  right: 225px;
  background-color: #ffffff;
  box-shadow: 20px 40px 80px 0px #2d33511f;
  border-radius: 130px;
}
.theCollest3 > .headingforRounded3 {
  /* width: 70%; */
  margin-left: 9px;
  font-size: 14px;
  color: #161a34;
  font-weight: 600;
  line-height: 15.4px;
  text-align: left;
  display: flex;
}

/* responsive */
@media (max-width: 1024px) {
  .cointainer .backgroundDiv {
    width: 204px;
    height: 552px;
    position: relative;
  }
  .cointainer > .backgroundDiv > .shoes {
    width: 152%;
  }
  .shoes {
    top: 23.83px;
    right: -20px;
  }
  .theCollest3 {
    width: 123px;
    height: 46px;
    padding: 3px;
    top: 312px;
    right: 152px;
  }
  .theCollest {
    width: 128px;
    height: 47px;
    padding: 0px;
    top: 31px;
    left: 163px;
  }
  .theCollest2 {
    width: 138px;
    height: 47px;
    padding: 0px;
    top: 243px;
    left: 143px;
  }
  .theCollest2 > .headingforRounded2 {
    font-size: 11px;
  }
  .theCollest3 > .headingforRounded3 {
    font-size: 12px;
  }
  .theCollest > .headingforRounded {
    font-size: 11px;
  }

  /* The Right one  */
  .cointainer .sales-component {
    width: 170px;
    color: #161a34;
    margin-bottom: 217px;
  }
  .sales-component p {
    font-size: 21px;
    font-weight: 500;
    line-height: 21.8px;
    letter-spacing: -1.5px;
  }
  .cta-button {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    color: #161a34;
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }
  .cta-button .cta-text {
    color: #161a34;
    position: relative;
    font-size: 13px;
  }
  .cta-button .cta-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #161a34;
  }
  .cta-button .arrow {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    background-color: #ff6a1b;
    color: white;
    padding: 1px 6px;
    border-radius: 24px;
  }
}
@media (max-width: 920px) {
  .rightCard {
    height: 100%;
    width: 70%;
  }
  .cointainer .backgroundDiv {
    width: 204px;
    height: 552px;
    position: relative;
  }
  .cointainer > .backgroundDiv > .shoes {
    width: 152%;
  }
  .shoes {
    top: 23.83px;
    right: -20px;
  }
  .theCollest3 {
    width: 123px;
    height: 46px;
    padding: 3px;
    top: 312px;
    right: 152px;
  }
  .theCollest {
    width: 128px;
    height: 47px;
    padding: 0px;
    top: 31px;
    left: 163px;
  }
  .theCollest2 {
    width: 138px;
    height: 47px;
    padding: 0px;
    top: 243px;
    left: 143px;
  }
  .theCollest2 > .headingforRounded2 {
    font-size: 11px;
  }
  .theCollest3 > .headingforRounded3 {
    font-size: 12px;
  }
  .theCollest > .headingforRounded {
    font-size: 11px;
  }

  /* The Right one  */
  .cointainer .sales-component {
    width: 170px;
    color: #161a34;
    margin-bottom: 217px;
  }
  .sales-component p {
    font-size: 21px;
    font-weight: 500;
    line-height: 21.8px;
    letter-spacing: -1.5px;
  }
  .cta-button {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    color: #161a34;
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }
  .cta-button .cta-text {
    color: #161a34;
    position: relative;
    font-size: 13px;
  }
  .cta-button .cta-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #161a34;
  }
  .cta-button .arrow {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    background-color: #ff6a1b;
    color: white;
    padding: 1px 6px;
    border-radius: 24px;
  }
}

@media (max-width: 480px) {
  .rightCard {
    height: 100%;
    width: 100%;
  }
  .cointainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .cointainer .backgroundDiv {
    width: 70%;
    height: 352px;
    position: relative;
    margin-bottom: 80px;
  }
  .cointainer > .backgroundDiv > .shoes {
    width: 152%;
  }
  .cointainer .sales-component {
    width: 247px;
    color: #161a34;
  }
  .sales-component p {
    font-size: 24px;
    font-weight: bold;
    line-height: 28.8px;
    letter-spacing: -1px;
    text-align: left;
    align-items: flex-end;
  }
  .cta-button {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    color: #161a34;
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }
  .cta-button .cta-text {
    color: #161a34;
    position: relative;
  }
  .cta-button .cta-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #161a34;
  }
  .cta-button .arrow {
    width: 32px;
    height: 32px;
    margin-left: 18px;
    background-color: #ff6a1b;
    color: white;
    padding: 0px 6px;
    border-radius: 24px;
  }
}
