* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.leftCard {
  /* border: 1px solid black; */
  height: 560px;
  width: 42%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 42px;
}
.leftCard .modernDiv {
  border: 1px solid #161a34;
  width: 202px;
  height: 36px;
  border-radius: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.leftCard .modernDiv :nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
}
.exploreDiv {
  font-size: 100px;
  position: relative;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -5px;
  color: #161a34;
  padding-top: 5px;
  margin-top: 6px;
  /* border: 1px solid black; */
  text-align: left;
}
.exploreDiv > div {
  position: absolute;
  top: 104px;
  left: 360px;
}
